<!DOCTYPE html>

<html>
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block title %}{% endblock %} - Okra St.-ROCHUS</title>
        {% block stylesheets %}
            {% if app.environment == 'prod' %} 
                {% stylesheets filter='css_url_rewrite'
                      'bundles/pinanobootstrap3/css/bootstrap.min.css'
                      'bundles/pinanobootstrap3/css/bootstrap-theme.min.css'
                      'bundles/okra/css/font-awesome.min.css'
                      'bundles/okra/css/sb-admin.css'
                    %}
                <link rel="stylesheet" href="{{ asset_url }}" />
                    {% endstylesheets %}                            
            {% else %}
                {% stylesheets filter='cssrewrite'
                      'bundles/pinanobootstrap3/css/bootstrap.min.css'
                      'bundles/pinanobootstrap3/css/bootstrap-theme.min.css'
                      'bundles/okra/css/font-awesome.min.css'
                      'bundles/okra/css/sb-admin.css'
                    %}
                <link rel="stylesheet" href="{{ asset_url }}" />
                    {% endstylesheets %}                            
            {% endif %}              
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        {% block content_header %}
            
        {% endblock %}    
    </head>
    <body>
        {% block body %}
            {% block navbar %}
                <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
                    <!-- Brand and toggle get grouped for better mobile display -->
                    <div class="navbar-header">
                        <a class="navbar-brand" href="{{ path('okra_homepage') }}">OKRA St.-ROCHUS</a>
                    </div>
                    <!-- Top Menu Items -->
                    <ul class="nav navbar-right top-nav">
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">	{{ "now"|date("d/m/Y H:i:s") }}</a>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-flag"></i> {% trans %}Languages{% endtrans %} <b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                <li>
                                    <a href="{{ path('okra_homepage', {'_locale': 'fr'}) }}">FR</a>
                                </li>
                                <li>
                                    <a href="{{ path('okra_homepage', {'_locale': 'nl'}) }}">NL</a>
                                </li>
                                <li>
                                    <a href="{{ path('okra_homepage', {'_locale': 'en'}) }}">EN</a>
                                </li>                                
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-user"></i> Admin <b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                <li>
                                    <a href="{{ path('fos_user_registration_register') }}"><i class="fa fa-fw fa-user"></i> {% trans %}Users{% endtrans %}</a>
                                </li>
                                <li>
                                    <a href="{{ path('category') }}"><i class="fa fa-fw fa-book"></i> {% trans %}Categories{% endtrans %}</a>
                                </li>
                                <li>
                                    <a href="{{ path('item') }}"><i class="fa fa-fw fa-barcode"></i> {% trans %}Items{% endtrans %}</a>
                                </li>
                                <li>
                                    <a href="{{ path('sessions') }}"><i class="fa fa-fw fa-clock-o"></i> {% trans %}Sessions{% endtrans %}</a>
                                </li>                                
                                <li class="divider"></li>
                                    
                                <li>
                                    <a href="{{ path('okra_stats') }}"><i class="fa fa-fw fa-graduation-cap"></i> {% trans %}Stats{% endtrans %}</a>
                                </li>
                                <li>
                                    <a href="{{ path('okra_history') }}"><i class="fa fa-fw fa-backward"></i> {% trans %}History{% endtrans %}</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </nav>            
            {% endblock %}
            <div id="page-wrapper">
                <div class="container-fluid">
                    <div class="row">
                        {% for flashMessage in app.session.flashbag.get('notice') %}
                            <div class="alert alert-success">
                                {{ flashMessage }}
                            </div>
                        {% endfor %}
                        {% block content %}
            
                        {% endblock %}        
                    </div>
                </div>
            </div>
        {% endblock %}
        {% block javascripts %}
        {% javascripts
            'bundles/okra/js/jquery-2.1.1.min.js'
            '@PinanoBootstrap3Bundle/Resources/public/js/bootstrap.min.js'            
            %}
            <script src="{{ asset_url }}"></script>
        {% endjavascripts %}
        {% endblock %}
    </body>
</html>
