{% extends "::base.html.twig" %}


{% block title %}
    {% trans %}Homepage{% endtrans %}    
{% endblock %}

{% block content_header '' %}

{% block content %}

    <div class="row">
        <div class="col-lg-12">
                <table class="table">
                    <thead>
                        <tr>
                            <th>{% trans %}Item{% endtrans %}</th>
                            <th>{% trans %}Price{% endtrans %}</th>

                                <th>
                                    {{ session.dateStart | craue_date }} - {{ session.dateStop | craue_date }} 
                                        {% if session.comment %} 
                                            <br/> {{ session.comment }} 
                                        {% endif %}
                                <table width="100%">
                                    <thead>
                                            {% for date in dates[session.id] %}
                                                <th width="{{ 100 / loop.length }}%">{{ date.dateDay }}/{{ date.dateMonth }}/{{ date.dateYear }} </th>
                                            {% endfor %}  
                                    </thead>
                                </table>    
                                </th>
                        </tr>
                    </thead>                    
                    <tbody>
                        {% include 'OkraBundle:Default:statsitem.html.twig'%}  
                    </tbody>
                </table>
                    
        <table class="table">
            <tbody>
                <tr>
                    <td class="text-left">{% trans %}Start{% endtrans %}</td>
                    <td class="text-right">{{ totalStart | craue_currency('EUR') }}</td>
                </tr>                
                <tr>
                    <td class="text-left">{% trans %}Sales{% endtrans %}</td>
                    <td class="text-right">{{ statsTotal | craue_currency('EUR') }}</td>
                </tr>
                <tr>
                    <td class="text-left">{% trans %}Book{% endtrans %}</td>
                    <td class="text-right">{{ totalBook | craue_currency('EUR') }}</td>
                </tr>                         
                <tr>
                    <td class="text-left">{% trans %}Bying{% endtrans %}</td>
                    <td class="text-right">{{ totalBuying | craue_currency('EUR') }}-</td>
                </tr>
                <tr>
                    <td class="text-left">{% trans %}Others{% endtrans %}</td>
                    <td class="text-right">{{ totalOthers | craue_currency('EUR') }}</td>
                </tr>
                <tr>
                    <td class="text-left"><strong>{% trans %}Total{% endtrans %}</strong></td>
                    <td class="text-right"><strong>{{ Gtotal | craue_currency('EUR') }}</strong></td>
                </tr>                                
            </tbody>
        </table>                    
        </div>
        <div class="col-lg-12">
            <a href="{{ path('okra_homepage') }}">
                <button type="button" class="btn btn-default">  
                    {% trans %}Back to the homepage{% endtrans %}
                </button>
            </a>                 
            <a href="{{ path('okra_statsclose', {'sessionId': session.id}) }}">
                <button type="button" class="btn btn-danger"> 
                    {% trans %}Print{% endtrans %}
                </button>
            </a>    
        </div>                
    </div>
{% endblock %}
