<html>
    <head>
        <meta charset="UTF-8" />
        <style type="text/css">
        body {
          font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
          color: #333
        }
        </style>
    </head>
    <body>
        <table width="100%">
            <tr width="100%">
                <td>
                    <img src="{{ app.request.getSchemeAndHttpHost() ~ asset('bundles/okra/images/logo.jpg'|e) }}" alt=""/>
                </td>
                <td style="color: #000;font-size: 25px;text-align: center;">
                    {{ order.idTable }}<br/>{{ order.name }}
                </td>
                <td style="font-size: 15px;text-align: left;">
                    {% trans %}Date{% endtrans %} : {{ "now"|date("d/m/Y") }}<br/> 
                    {% trans %}Your user{% endtrans %} : {{ order.idUser.username }}<br/> 
                </td>
            </tr>
        </table>
        <br/><br/>
        <hr>
        <br/><br/>
        <table width="100%" style="border-collapse:collapse;">
            <thead>
                <tr width="100%">
                    <th>
                        {% trans %}Item Name{% endtrans %}
                    </th>
                    <th>
                        {% trans %}Unit price{% endtrans %}
                    </th>
                    <th>
                        {% trans %}Quantity{% endtrans %}
                    </th>                  
                    <th>
                        {% trans %}Total{% endtrans %}
                    </th>                    
                </tr>
                <tr width="100%">
                    <th>
                        &nbsp;
                    </th>
                    <th>
                        &nbsp;
                    </th>
                    <th>
                        &nbsp;
                    </th>                  
                    <th>
                        &nbsp;
                    </th>                    
                </tr>                
            </thead>
            <tbody>
                {% for orderitem in orderitems %}
                    <tr>
                        <td style="border-width:1px;border-style:solid;border-color:#333;">
                            {% if orderitem.idItem.idCategory.name == orderitem.idItem.name %}
                                {{ orderitem.idItem.name }}
                            {% else %}
                                {{ orderitem.idItem.idCategory.name }} - {{ orderitem.idItem.name }}
                            {% endif %}
                        </td>
                        <td style="border-width:1px;border-style:solid;border-color:#333;text-align: right;">
                            {{ orderitem.price | craue_currency('EUR') }}
                        </td>      
                        <td style="border-width:1px;border-style:solid;border-color:#333;text-align: right;">
                            {{ orderitem.quantity }}
                        </td>    
                        <td style="font-size: 20px;border-width:1px;border-style:solid;border-color:#333;text-align: right;">
                            {{ (orderitem.price * orderitem.quantity) | craue_currency('EUR') }}
                        </td>                                  
                    </tr>
                {% endfor %}  
            </tbody>
            <tfooter>
                <tr>
                    <td>
                        
                    </td>
                    <td>
                        
                    </td>
                    <td>
                        
                    </td>
                    <td style="color: #000;font-size: 30px;border-width:1px;border-style:solid;border-color:#333;text-align: right;">
                        <b>{{ (order.total) | craue_currency('EUR') }}</b>
                    </td>
                </tr>
            </tfooter>
        </table>
        <h2>{% trans %}We thanks you and we hope to see you next year.{% endtrans %}</h2>            
    </body>
</html>
