{% extends "::base.html.twig" %}


{% block title %}
    {% trans %}List Item{% endtrans %}      
{% endblock %}

{% block content_header '' %}

{% block content %}
    <h1>Item list</h1>

    <table class="records_list">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Price</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('item_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>{{ entity.name }}</td>
                <td>{{ entity.price }}</td>
                <td>
                <ul>
                    <li>
                        <a href="{{ path('item_show', { 'id': entity.id }) }}">show</a>
                    </li>
                    <li>
                        <a href="{{ path('item_edit', { 'id': entity.id, 'locale':'fr' }) }}">{% trans %}Edit FR{% endtrans %}   </a>
                    </li>
                    <li>
                        <a href="{{ path('item_edit', { 'id': entity.id, 'locale':'nl' }) }}">{% trans %}Edit NL{% endtrans %}   </a>
                    </li>
                    <li>
                        <a href="{{ path('item_edit', { 'id': entity.id, 'locale':'en' }) }}">{% trans %}Edit EN{% endtrans %}   </a>
                    </li>
                    
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

        <ul>
        <li>
            <a href="{{ path('item_new') }}">
                Create a new entry
            </a>
        </li>
    </ul>
    {% endblock %}
